<div class="main-container">
  <header class="header header-4">
    <div class="branding">
      <span class="title">🦓 Zebra4J/JS</span>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Demo</a>
      <a href="https://murfffi.github.io/zebra4j/" target="_blank" class="nav-link nav-text">About</a>
    </div>
    <div class="settings">
      <a href="https://github.com/murfffi/zebra4j" class="nav-link nav-icon" target="_blank">
        <img src="assets/github.svg" class="logo" style="width: 1.5rem;"/>
      </a>
    </div>    
  </header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>