<p>Facts:</p>
<ul class="list compact">
  <li *ngFor="let fact of currentPuzzle.facts">{{ fact }}</li>
</ul>
<p>{{ currentPuzzle.question }}</p>
<select clrSelect name="answerSelect" (change)="select($event)" *ngIf="!completed">
  <option value="">Please select ...</option>
  <option *ngFor="let answer of currentPuzzle.answerOptions" value="{{ answer }}">{{ answer }}</option>
</select>
<div *ngIf="completed">
  <p>Selected: {{ selected }}</p>
  <p>Correct: {{ currentPuzzle.answer }}</p>
  <button class="btn btn-primary" (click)="reset()">Try Another Puzzle</button>
</div>
<p *ngIf="generating">
  <clr-spinner [clrMedium]="true"></clr-spinner>
</p>
<p>Seed for generating this puzzle: <a [href]='"#" + currentPuzzle.seed'>{{ currentPuzzle.seed }}</a> (for permalink and debugging)</p>
